<!DOCTYPE html>
<html>

<head>
<title>Looney Limericks</title>
<link href="css/css.css" rel="stylesheet" type="text/css" />
<script>
	function validateForm()
	{
		var name = document.forms["poem"]["title"].value;
		var author = document.forms["poem"]["author"].value;
		var content = document.forms["poem"]["content"].value;
		var lines = content.split('\n');
		if (name == null || name == "" || author == null || author == ""
				|| content == null || content == "")
			alert("name/author/content must be filled out");
		else if (lines.length != 5)
			alert("content should have 5 lines");
		else if (lines[0].length > 30 || lines[1].length > 30
				|| lines[2].length > 30 || lines[3].length > 30
				|| lines[4].length > 30)
			alert("content length should have up to 30 characters for each line");
		else
			return true;
		return false;
	}
</script>
</head>

<body>
	<div id="head">
		<h1>Looney Limericks</h1>
	</div>
	<div id="left" align="center">
		<p>
			Poems<br /> <a href="index.php?form">Submit your poem</a><br /> <a
				href="index.php?main&e=featured">Featured</a><br /> <a
				href="index.php?main&e=random">Random</a><br /> <a
				href="index.php?main&e=top10">Top 10</a><br /> <a
				href="index.php?main&e=newest">Newest</a><br />
		</p>
	</div>
	<div id="center" align="center">
		<h1>Poem Submission Form</h1>
		<form name="poem" action="index.php?form&action=checkform"
			onsubmit="return validateForm()" method="post">
			<p>
				<input name="title" value="Title" maxlength="30" id="title" /> <br /> <input
					name="author" value="Author" maxlength="30" /> <br />
				<textarea name="content" cols="80" rows="5">Your poem</textarea>
				<br /> <input type="submit" value ="submit poem"/>
			</p>
		</form>
		<?php print $data['checkresult']; ?>
	</div>
	<div id="right" align="center">
		<h3>All</h3>
		<p>
			<?php print $data['links']; ?>
		</p>
	</div>
</body>

</html>